<div class="header" role="banner">
    <div class="site-header">
        {% if pages["_meta"].meta.logo %}
        <div class="logo">
            <a href="{{ base_url }}">
                <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt=" Watermelon" />
            </a>
        </div>
        {% endif %}
        <div style="color:white" class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
            <a style="color:white" href="{{ base_url }}">
                <h1 style="color:white">{{ site_title }}</h1>
               <h1 style="color:white !important"> {{ pages["_meta"].meta.tagline|markdown }} </h1>
            </a>
        </div>
        <a style="color:white" tyle="color:white" class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false"
            tabindex="0">
            <i style="color:white" class="fa fa-bars" aria-hidden="true" id="toggler"></i>
            <span style="color:white" class="sr-only">Toggle Menu</span>
        </a>
    </div>
    <div style="color:white" class="nav">
        <div style="color:white" id="nav" role="navigation" tabindex="-1">
            <ul>
                {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                    <li style="color:white" {% if page.id==current_page.id %} class="active" {% endif %}>
                        <a style="color:white" href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
